@page
@model FilmesCRUDRazor.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Filmes Top +</h2>
            <p>
                <a class="btn btn-primary" asp-page="Create">
                    <span class="glyphicon glyphicon-plus"></span> Adicionar Filme
                </a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Titulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].DataLancamento)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Genero)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Filme[0].Preco)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Filme)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DataLancamento)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Genero)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Preco)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.FilmeId">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.FilmeId">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.FilmeId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>